* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';
}

.display_none {
    display: none !important; 
}

.header_wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.header_info {
    /* position: relative; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .header_info::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100vw;
    background-color: rgba(96, 96, 96, 0.17);
    bottom: -28px;
    left: -10vw;
} */

.header_info_logo {
    display: flex;
    align-items: center;
}

.header_info_logo_text {
    margin-left: 10px;
}

.header_info_logo_text h1 {
    font-size: 25px;
}

.header_info_logo_text p {
    font-size: 18px;
}

.header_info_location {
    display: flex;
    flex-direction: column;
}

.header_info_location_geo::before {
    content: url(img/location_point.png);
    margin-right: 12px;
}

.header_info_location p {
    font-size: 16px;
    font-weight: bold;
}

.header_info_location_metro {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.header_info_location_metro p:not(:last-of-type) {
    margin-right: 23px;
}

.header_info_location_metro p:nth-of-type(1)::before {
    margin-right: 10px;
    content: url(img/metro_icon_1.png);
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.header_info_location_metro p:nth-of-type(2)::before {
    margin-right: 10px;
    content: url(img/metro_icon_2.png);
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.header_info_location_metro p:nth-of-type(3)::before {
    margin-right: 10px;
    content: url(img/metro_icon_3.png);
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.header_info_contacts {
    display: flex;
    justify-content: space-between;
}

.header_info_contacts p:nth-of-type(1) {
    margin-right: 63px;
}

.header_info_contacts span, .header_info_contacts p:nth-of-type(2) {
    font-weight: bold;
}

.header_info_contacts p:nth-of-type(2)::before {
    content: url(img/phone_icon.png);
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin-right: 8px;
}

.header_info_button a {
    font-size: 20px;
    color: #EB720C;
    padding: 15px 25px;
    border: 1px solid #EB720C;
    border-radius: 10px;
}

.header_nav_wrapper {
    width: 100%;
    border-top: 1px solid rgba(96, 96, 96, 0.17);
    margin-top: 28px;
}

.header_nav {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header_nav ol {
    display: flex;
}

.header_nav li {
    margin-right: 40px;
}

.header_nav li a{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.header_nav_drop_down_wrapper {
    position: relative;
}

.header_nav_drop_down_a{
    position: relative;
    padding: 20px 29px 20px 18px;
    border-radius: 10px 10px 0px 0px;
}

.header_nav_drop_down_a_hover {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
}

.header_nav_drop_down::before {
    left: 0px;
    top: -12px;
    content: '';
    position: absolute;
    background-color: #fff;
    width: 119px;
    height: 20px;
    z-index: 999;
}

.header_nav_drop_down_a::after {
    content: url(img/arrow_up.png);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: 3px;
}

.header_nav ol ol {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 3;
}

.header_nav ol ol li:not(:last-of-type) {
    margin-bottom: 20px;
}

.header_nav_drop_down {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 10px;
    position: absolute;
}

.header_nav_drop_down li a {
    font-size: 18px;
    font-weight: 400;
}

.header_nav_drop_down li a:hover {
    color:#EB720C;
}

.breadCrumps_wrapper {
    width: 80%;
    margin: 13px auto 77px auto;
}

.breadCrumps_wrapper ul {
    width: fit-content;
    display: flex;
    border-bottom: 1px solid #EB720C;
    padding-bottom: 8px;
}

.breadCrumps_nonActive {
    color: #787878;
}

.breadCrumps_wrapper ul li {
    margin: 0 20px;
    position: relative;
}

.breadCrumps_wrapper ul li:first-of-type {
    margin-left: 0;
}

.breadCrumps_wrapper ul li:not(:last-of-type)::after {
    content: url(img/arrow_right.png);
    position: absolute;
    right: -28px;
}

.presentation_wrapper {
    box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 5%) inset;
    width: 100%;
    background-color: #FEFCF9;
    padding-top: 89px;
    padding-bottom: 100px;
}

.presentation_block {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.presentation_slider {
    position: relative;
    background-color: #fff;
    padding: 40px 50px;
    flex-basis: 608px;
    flex-grow: 1;
    margin-right: 20px;
    box-shadow: 0px 0px 13px rgba(146, 70, 7, 0.15);
    background-image: url(img/main_slider_back.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    border-radius: 10px;
}

.presentation_slide {
    height: 100%;
    width: 100%;
    position: relative;
}

.presentation_slide h4 {
    color: #CF1010;
    font-size: 25px;
}

.presentation_slide p:nth-of-type(1) {
    font-size: 20px;
    margin-bottom: 20px;
}

.presentation_slide h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.presentation_slide h2 span {
    color: #EB720C;
}

.presentation_slide p:nth-of-type(2) {
    font-size: 25px;
    margin-bottom: 90px;
}

.presentation_slide p:nth-of-type(3)  {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 70px;
}

.presentation_slide p:nth-of-type(3) span {
    background: linear-gradient(194.95deg, #EB720C 19.54%, #FFD12F 107.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.presentation_slide_buttons {
    margin-bottom: 70px;
}

.presentation_slide_buttons a{
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
}

.presentation_slide_buttons a:nth-of-type(1) {
    color: #000;
    border: 1px solid #1A1717;
    margin-right: 30px;
}

.presentation_slide_buttons a:nth-of-type(2) {
    background: linear-gradient(194.95deg, #EB720C 19.54%, #FFD12F 107.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #EB720C;
}

.presentation_slide img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.presentation_slide_dots {
    position: absolute;
    bottom: 41px;
    left: 58px;
    display: flex;
}

.presentation_slide_dots div {
    content: '';
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #000;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.presentation_slide_dots .presentation_slide_active_dot {
    width: 29px;
    background-color: #000;
    border-radius: 10px;
}

.presentation_advantages {
    display: flex;
    flex-direction: column;
}

.presentation_advantages {
    flex-basis: 500px;
}

.presentation_advantages p {
    font-size: 22px;
    z-index: 2;
}

.presentation_advantages span {
    font-weight: 700;
    color: #EB720C;
}

.presentation_advantages div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    flex-grow: 1;
    background-color: #fff;
    position: relative;
    padding: 30px;
    box-shadow: 0px 0px 13px rgba(146, 70, 7, 0.15);
}

.presentation_advantages_1 {
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.presentation_advantages img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.presentation_advantages_2 a{
    padding: 15px 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(59.04deg, #EB720C 32.92%, #FFD12F 123.81%);
    width: fit-content;
    z-index: 2;
}

.advantages_wrapper {
    width: 100%;
    background-color: #F6ECE3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.advantages {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.advantages div {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    flex: 1 1 0px;
}

.advantages div:not(:last-of-type) {
    margin-right: 20px;
}

.advantages div h4 {
    text-transform: uppercase;
    color: #EB720C;
    font-size: 22px;
    padding: 20px 30px 25px 30px;
}

.advantages div p {
    font-size: 20px;
    padding: 0 30px 30px 30px;
}

.services_wrapper {
    width: 100%;
    margin-top: 60px;
}

.services_wrapper>h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 60px;
}

.services {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 180px;
    margin-right: 24px;
    margin-bottom: 50px;
    padding: 30px 45px;
    cursor: pointer;
    border-radius: 10px;
}

.services div h4 {
    text-align: center;
    margin-bottom: 35px;
}

.services div:hover {
    box-shadow: 0px 0px 15px rgba(235, 114, 12, 0.3);
}

.info_wrapper {
    width: 100%;
    background-color: #FEFCF9;
    padding: 63px 0 168px 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.info {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.info>h4 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 74px;
}

.info_slider {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_slider div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(47, 47, 47, 0.2);
}

.info_slider div:nth-of-type(1) {
    background: url(img/info_slider/1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.info_slider div:nth-of-type(2) {
    background: url(img/info_slider/2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 20px;
}

.info_slider div:nth-of-type(3) {
    background: url(img/info_slider/3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.info_slider div h4 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.info_slider h4 span {
    color:#EB720C;
    font-weight: 700;
}

.info_slider_main {
    flex-basis: 500px;
}

.info_slider_main h4{
    padding: 45px 20px 45px 20px;
}

.info_slider div p {
    font-size: 20px;
    text-align: center;
    padding: 0px 20px 40px 20px;
}

.info_slider_not_main {
    flex-basis: 371px;
}

.info_slider_not_main h4 {
    padding: 54px 30px;
}

.info_slider_dots {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.info_slider_dots div {
    border: 1px solid #EB720C;
    background-color: transparent;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.info_slider_dots div:not(:last-of-type) {
    margin-right: 8px;
}

.info_slider_dots .info_slider_dots_active {
    background-color: #EB720C;
}

.installment_wrapper {
    margin-top: 142px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.installment_text {
    margin-left: 10%;
}

.installment_text h3 {
    font-size: 75px;
    margin-bottom: 96px;
}

.installment_text ul {
    margin-bottom: 39px;
}

.installment_text ul li {
    font-size: 25px;
    line-height: 2.5rem;
}

.installment_text ul li span {
    font-size: 30px;
    background: linear-gradient(194.95deg, #EB720C 19.54%, #FFD12F 107.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.installment_text p {
    font-size: 30px;
}

.out_doctors {
    width: 100%;
    margin-top: 70px;
}

.out_doctors h4 {
    font-size: 45px;
    margin-left: 10%;
}

.out_doctors_slide {
    position: relative;
    background:  url(img/doctors_slider/shadow.png), url(img/doctors_slider/1.png), linear-gradient(#F6ECE3, #F6ECE3);
    border-radius: 10px;
    width: 500px;
    height: 500px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.out_doctors_slide_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.out_doctors_slide_content_icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 15px;
}

.out_doctors_slide_content_icons img:not(:last-of-type) {
    margin-bottom: 23px;
}

.gallery_wrapper {
    width: 100%;
    margin-top: 100px;
}

.gallery_wrapper h4 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 73px;
}

.gallery {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery img{
    margin-bottom: 20px;
    width: 370px;
}

.recall_wrapper {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 120px;
}

.recall_wrapper>h4 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 75px;
}

.recall {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recall_companies {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
    flex-wrap: wrap;
}

.recall_companies div {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 4px 18px rgba(63, 63, 63, 0.15);
    align-items: center;
    width: 370px;
    height: 113px;
    border-radius: 10px;
}

.recall_companies div p {
    height: fit-content;
    font-size: 40px;
    margin-left: 71px;
    position: relative;
}

.recall_companies div p::before {
    content: url(img/recalls/star.png);
    position: absolute;
    left: -50px;
}

.recall_users {
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;
}

.recall_users_header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 0 20px;
    align-items: center;
}

.recall_users_header h4 {
    font-size: 25px;
}

.recall_users>div>p {
    padding: 40px 20px;
}

.recall_users>div {
    box-shadow: 0px 4px 18px rgba(63, 63, 63, 0.15);
    border-radius: 10px;
    margin: 0 20px;
    flex-basis: 500px;
}

.recall_users {
    margin-bottom: 110px;
}

.recall button {
    margin: 0 auto;
    font-size: 20px;
    color: white;
    background-color: #EB720C;
    border-radius: 10px;
    border: 0px;
    padding: 10px 20px;
    cursor: pointer;
}

.contacts_wrapper {
    width: 100%;
}

.contacts {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contacts_text h4 {
    font-size: 45px;
    margin-bottom: 40px;
}

.contacts_metro {
    display: flex;
    justify-content: left;
    margin-bottom: 50px;
}

.contacts_metro p {
    position: relative;
    padding: 15px 25px 15px 50px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.contacts_metro p:nth-of-type(1)::before {
    position: absolute;
    left: 25px;
    content: url(img/metro_icon_1.png);
}

.contacts_metro p:nth-of-type(2)::before {
    position: absolute;
    left: 25px;
    content: url(img/metro_icon_1.png);
}

.contacts_metro p:nth-of-type(3)::before {
    position: absolute;
    left: 25px;
    content: url(img/metro_icon_3.png);
}

.active_contacts_metro {
    border: 1px solid #EB720C !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.contacts_metro p:not(:last-of-type) {
    margin-right: 16px;
}

.contacts_text>p:nth-of-type(1) {
    margin-bottom: 20px;
    font-weight: 700;
}

.contacts_text>p:nth-of-type(2) {
    margin-bottom: 10px;
}

.contacts_text>p:nth-of-type(3) {
    margin-bottom: 30px;
}

.contacts_text>p:nth-of-type(3) span{
    font-weight: 700;
}

.contacts_way {
    margin-bottom: 50px;
}

.contacts_way h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.contacts_way p:nth-of-type(1) {
    position: relative;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 26px;
}

.contacts_way p:nth-of-type(1)::before {
    position: absolute;
    left: -25px;
    content: url(img/metro_icon_1.png);
}

.contacts_text button {
    color: #fff;
    background-color:#EB720C;
    border: none;
    font-size: 20px;
    padding: 20px 50px;
    border-radius: 10px;
    cursor: pointer;
}
.footer_wrapper {
    width: 100%;
    margin-top: 146px;
}

.footer {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid rgba(96, 96, 96, 0.17);
    padding-top: 43px;
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer_logo button {
    font-size: 20px;
    color:#EB720C;
    background-color: transparent;
    border: 1px solid #EB720C;
    padding: 15px 25px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.footer_logo_logo {
    display: flex;
}

.footer_logo_text {
    margin-left: 10px;
}

.footer_info {
    margin-left: 97px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.footer_contacts {
    display: flex;
    justify-content: space-between;
}

.footer_contacts_location {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer_contacts_location>p {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    padding-left: 24px;
    margin-bottom: 10px;
}

.footer_contacts_location>p::before {
    position: absolute;
    left: -0;
    content: url(img/location_point.png);
}

.footer_contacts_location_metro {
    display: flex;
    justify-content: space-between;
}

.footer_contacts_location_metro p {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    margin-left: 26px;
}

.footer_contacts_location_metro p::before {
    position: absolute;
    content: url(img/black_metro.png);
    left: -26px;
}

.footer_contacts>p span {
    font-weight: 700;
}

.footer_contacts>p:nth-of-type(1) {
    font-size: 14px;
}

.footer_contacts>p:nth-of-type(2) {
    position: relative;
    font-size: 22px;
    font-weight: 700;
}

.footer_contacts>p:nth-of-type(2)::before {
    position: absolute;
    left: -28px;
    content: url(img/phone_icon_bold.png);
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.footer_nav {
    padding-top: 13px;
    border-top: 1px solid rgba(96, 96, 96, 0.17);
}

.footer_nav ul {
    display: flex;
    justify-content: space-between;
}

.footer_nav ul li {
    font-size: 18px;
    font-weight: 700;
}

.polyt_wrapper {
    margin-top: 56px;
    width: 100%;
    background-color: #000;
}

.polyt {
    padding: 25px 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.polyt p, .polyt a {
    color: #fff;
    font-size: 14px;
}

.polyt_href>a:nth-of-type(1) {
    margin-right: 54px;
}

.contacts_page .active_contacts_metro {
    background-color: #951FDD;
    color: #fff;
    border: 1px solid #951FDD !important;
}

.contacts_page .active_contacts_metro::before {
    filter: brightness(0) invert(1);
}

.about_wrapper {
    width: 100%;
}

.about_feature {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.about_feature span {
    color: #EB720C;
    font-size: 25px;
}

.about_feature p {
    font-size: 20px;
}

.about_feature_first, .about_feature_second, .about_feature_third {
    display: flex;
    justify-content: space-between;
}

.about_feature_first, .about_feature_second {
    margin-bottom: 50px;
}

.about_feature_first img, .about_feature_second img, .about_feature_third img {
    max-height: 526px;
}

.about_feature_second_text {
    margin-left: 21px;
}

.about_feature_first_text, .about_feature_third_text {
    margin-right: 21px;
}

.about_feature_first_text h4 {
    font-size: 45px;
    color: #EB720C;
    margin-bottom: 34px;
}

.about_feature_first_text p:nth-of-type(1) {
    margin-bottom: 20px;
}

.our_equipment_wrapper {
    width: 100%;
    margin-top: 66px;
}

.our_equipment_wrapper h4 {
    text-align: center;
    font-size: 45px;
}

.our_partners_wrapper {
    width: 100%;
    margin-top: 69px;
    margin-bottom: 200px;
}


.our_partners_wrapper h4 {
    text-align: center;
    font-size: 45px;
}


.doctors_wrapper {
    width: 80%;
    margin: 0 auto;
}

.doctors_wrapper>h4 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 84px;
}

.doctors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -20px;
}

.doctors_block {
    min-width: 400px;
    width: calc(33.333333% - 20px);
    margin-right: 20px;
    margin-bottom: 40px;
}

.doctors_block_img {
    height: 443px;
    background-color: #F6ECE3;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.doctors_block_text h5 {
    font-size: 25px;
    margin-bottom: 10px;
}

.doctors_block_text p {
    margin-bottom: 30px;
    font-size: 18px;
}

.doctors_block_text a {
    border: 1px solid #000;
    color: #000;
    padding: 12px 13px;
    border-radius: 10px;
    font-weight: 700;
}

.doctors_block_text a:hover {
    color: #fff;
    background-color: #EB720C;
    padding: 12px 13px;
    border-radius: 10px;
    border: 1px solid #EB720C;
}

.reviews_wrapper {
    width: 100%;
}

.reviews_page {
    width: 80%;
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.reviews_page>div {
    padding: 15px 25px;
    border: 2px solid #1A1717;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.reviews_page_active {
    background-color: #EB720C;
    border: 2px solid #EB720C !important; 
    color: #fff;
}

.reviews {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews_block {
    position: relative;
    width: calc(33.333% - 60px);
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 20px rgba(26, 23, 23, 0.15);
    border-radius: 10px;
}

.reviews_block::after {
    position: absolute;
    content: url(img/comma.png);
    top: -16px;
    left: -12px;
}

.reviews_block::before {
    position: absolute;
    content: url(img/comma.png);
    top: -19px;
    left: 16px;
    width: 21px;
    height: 36px;
}

.reviews_block p:nth-of-type(1) {
    font-size: 18px;
    color: #787878;
    margin-bottom: 12px;
}

.reviews_block h5 {
    font-size: 22px;
    margin-bottom: 20px;
}

.reviews_block p:nth-of-type(2) {
    font-size: 22px;
    margin-bottom: 27px;
}

.reviews_block div {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 16px solid #EB720C;
    cursor: pointer;
}

.page404_wrapper {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page404_text span, .page404_text h3 {
    text-align: center;
}

.page404_text h3 {
    font-size: 40px;
}

.page404_text span {
    font-size: 30px;
}

.page404_text span a {
    color: #000;
    font-size: 28px;
    border-bottom: 2px solid black;
}